.footer-container-fluid {
  background-color: $color-five;
}

.company-support {
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
  
  @include breakpoint(md-up) {
    padding-bottom: to-rem(32);
    padding-top: to-rem(32);
  }
}

.company-support {
  &__list {
    list-style: none;
    padding: 0 2rem;

    @include breakpoint(md-up) {
      width: 18%;
      padding-left: 1rem;
    }
  }

  &__item {
    font-size: to-rem(14);
    font-weight: 400;
    line-height: 1.5rem;

    @include breakpoint(md-up) {
      line-height: 2.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $gray;
  }
}

.company-support__item--title {
  font-size: to-rem(18);
  font-weight: 500;
  line-height: 2.5rem;

  @include breakpoint(md-up) {
    padding-bottom: to-rem(24);
  }

}

.stores-footer {
  padding: 0 2rem;

  &__title {
    margin: 0;
    color: $gray;
    font-size: to-rem(18);
    padding-bottom: 1.5rem;
    font-weight: 500;

    @include breakpoint(md-down) {
      display: none;
    }
  }

  &__img-1 {
    padding-right: 2rem;
  }

  @include breakpoint(md-up) {
    display: none;
  }

  @include breakpoint(md-down) {
    padding: 1.5rem 2rem;
  }
}

.social-media__icon--show {
  display: block;
}

.social-media__item--align-footer {
  padding: .5rem;
}

.social-media--on-footer {
  width: 100%;
  justify-content: start;
  padding-left: .7rem;

  @include breakpoint(md-up) {
    display: none;
  }

  @include breakpoint(md-down) {
    display: none;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: to-rem(80);

  &__description {
    padding-left: 2rem;
    color: $gray;
    font-size: to-rem(14);
    font-weight: 200;

    @include breakpoint(xs-down) {
      padding-left: 0;
      text-align: center;
      width: 100%;
    }
  }
}

.social-media--desktop-show {
  @include breakpoint(md-up) {
    display: flex;
    width: 50%;
    margin: 0;
    justify-content: flex-end;
    padding-right: 1rem;

    @include breakpoint(sm-up) {
      padding-right: 3rem;
    }
  }

}

.social-media__icon--gray {
  color: $gray;
  font-size: to-rem(14);
}

.stores-footer--show-on-desktop {
  display: flex;
  flex-direction: column;

  @include breakpoint(md-up) {
    margin-top: 1.7rem;
  }
}

.stores-footer__img-1--align {
  padding-bottom: 1rem;

  @include breakpoint(md-down) {
    display: none;
  }
}

.stores-footer__img-2--align {
  width: to-rem(162);

  @include breakpoint(md-down) {
    display: none;
  }
}

.footer-container-fluid--line-gray {
  border-top: 1px solid rgba(128, 128, 128, 0.24);
}

.social-media--hidden-desktop {
  display: none;
}