.slider-show {
  width: 100%;
  position: relative;
  padding-bottom: to-rem(64);
  @include breakpoint(md-down){
    padding-bottom: 4.5rem;
  }
  @include breakpoint(xxs-down){
    padding-bottom: 4rem;
  }
}

.slider {
  padding-left: 0.5rem;

  @include breakpoint(md-up) {
    padding-left: 1rem;
  }
}

.pagination {
  width: 92%;
  display: flex;
  justify-content: center;
  @include breakpoint (md-down){
    margin: 0 auto;
    padding-top: 2rem;
  }
  @include breakpoint(xxs-down) {
    padding-left: 0;
    width: 100%;
  }

  &__item {
    font-size: to-rem(20);
    margin: to-rem(2) to-rem(5);
    cursor: pointer;
    list-style: none;
    width: 3%;
    align-items: center;
    @include breakpoint(sm-up){
      width: 1%;
    }
  }
}

.slider-content--big {
  display: flex;
}

.text-box--center-desktop {
  width: 100%;
  text-align: center;
  font-size: to-rem(48);
  margin-top: 0;

  @include breakpoint(xxs-down) {
    margin-bottom: -6rem;
  }
}

.container-gray {
  background-color: $color-six;
  margin-top: to-rem(64);
  margin-bottom: to-rem(-36);
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-box__title--margins {
  margin-bottom: 0;
  padding-top: to-rem(64);
  @include breakpoint(xs-down) {
    font-size: to-rem(34);
    padding-bottom: 2rem;
  }
}

.text-box__title--small {
  font-size: to-rem(24);
  text-align: center;
  padding-top: to-rem(40);
  @include breakpoint(xxs-down){
    margin-top: 6rem;
  }
}

.text-box--small {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: 0;
  padding-left: 0;

  @include breakpoint(md-up) {
    max-width: to-rem(350);
  }
}

.text-box--small:nth-child(2) {
  padding-right: to-rem(30);
}

.text-box--hidden-tablet {
  @include breakpoint(xs-down) {
    display: none;
  }
}

.text-box--hidden-smartphone {
  @include breakpoint(xxs-down) {
    display: none;
  }
}

.text-box__description--small-slider {
  font-size: 0.875rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: to-rem(24);
  font-weight: 400;
  padding-bottom: to-rem(40);
}

.text-box__message {
  background-color: $white;
  position: relative;
  border-radius: 10px;

  @include breakpoint(xxs-down) {
    margin-bottom: 3.5rem;
  }
}

.text-box__message::after {
  transform: rotate(45deg);
  bottom: -1rem;
  display: block;
  content: "";
  visibility: visible;
  width: 34px;
  height: 37px;
  background: $white;
  position: absolute;
  z-index: -1;
  left: 45%;
}

.text-box__description--extra-small {
  font-size: to-rem(14);
  font-weight: 400;
  padding: 0;
  line-height: 0;
  text-align: center;

  @include breakpoint(xxs-down) {
    line-height: to-rem(17);
  }
}

.text-box__description--big-slider {
  text-align: center;
  margin: 0;
  font-weight: 700;

  @include breakpoint(xxs-down) {
    width: 100%;
  }
}

.img-box--padding-slider {
  padding-bottom: 0;
  @include breakpoint(xxs-down){
    text-align: center;
  }
}

.content-slider--inline {
  display: flex;

  @include breakpoint(xs-down) {
    margin-top: -5rem;
  }

  @include breakpoint(md-up) {
    width: 98.3%;
    justify-content: space-between;
  }
}

.text-box--center-mobile {
  padding: 0;

}

.text-box__description--hidden-on-mobile {
  @include breakpoint(xxs-down){
    display: none;
  }
}

.text-box__title--on-desktop {
  @include breakpoint(md-up) {
    width: 51%;
  }
}

.text-box--on-desktop {
  width: 100%;
}
.text-box--padding-slider{
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.img-box--center{
  @include breakpoint(xxs-down){
    // text-align: center;
  }
}